### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
logs/*
.venv
tcip_mgr_lib/logs/*
downloads/*
testcases/result/*
allure_reports/allure_report/*
allure_reports/allure_xml/*